NODE_ENV="development"
NEXT_PUBLIC_PORTAL_HOSTNAME="portal:3000"
NEXT_PUBLIC_RECIPES_HOSTNAME="receitas:3000"
SERVER_BASE_URL="http://localhost:3001"
REVALIDATE_SECRET="123"
PROXY_VIBRA_ELASTIC="https://api.bs.vibra.digital"
SENTRY_ENABLED=false
SENTRY_DSN="https://f91e6d611c5b3245abc0efa5af69afb8@o4510822307135488.ingest.us.sentry.io/4510822308118528"