services:
  app:
    build: .
    ports:
      - "3000:3000"
    restart: always
    environment:
      NODE_ENV: production
      PORTAL_HOSTNAME: portal:3000
      RECIPES_HOSTNAME: receitas:3000
      NEXT_TELEMETRY_DISABLED: "1"
      PORT: "3000"
